* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: rgb(56, 55, 55);
}

a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    display: inline-block;
    top: 0;
    padding: 5px;
    font-weight: 700;
}

.account-1 {
    padding-left: 1000px;
}

input {
    background-color: rgb(62, 60, 60);
    border-radius: 30px;
    height: 30px;
    text-align: center;
}

.search {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

i {
    color: white;
    width: 30px;
}

.header .icon i {
    padding: 0 15px;
}

.header {
    display: flex;
    align-items: center;
    background-color: black;
}

.slide {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.slide img {
    border-radius: 15px;
}

.form {
    height: 250px;
    background-color: rgb(0, 0, 0);
    padding-top: 20px;
}

.form-2 {
    width: 600px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.top {
    display: flex;
    align-items: center;
}

.content-header {
    display: flex;

}

#games {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 2.5em 0;
}

#games .card {
    max-width: 18em;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.7s;
}


#games .card .img-container {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

#games .card .container {
    padding-top: 1em;
    color: #ffffff;
}

#games .card .container {
    padding-top: 1em;
    color: #fefefe;
}

#games .card .container h5 {
    font-weight: bolder;
    font-size: 12px;
}

#games .card .container h6 {
    font-weight: 400;
    font-size: 14px;
    padding-top: 5px;
}

#games .card .container button {
    background-color: white;
    border: none;
    border: solid 1px black;
    margin-top: 14px;
    padding: 5px 0px;
    text-transform: uppercase;
    font-weight: 500;
    width: 70%;
    cursor: pointer;
    border-radius: 5px;
}

#games .card .container button:hover {
    background-color: black;
    color: white;
}

#games .card .img-container {
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 15%;
    align-items: center;
    background-color: black;
}